body {
    background: whitesmoke ;
    margin: 0px;
    text-align: center;
}

  .toolbar {
    
    color: white;
    background: black ;
    border-bottom: 5px;
    border-color: #999999;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    height:50px;
  }

  .sredina{
    margin: auto;
    margin-top: 240px;
    width: 400px;
    height: 170px;
    font-size: 16px;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    
}

#toolnaslov{
  color:white;
}

.ispislistee{
  margin: auto;
  margin-top: 20px;
  width: 300px;
  height: 200px;
  background-color: white;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.inputi{
  margin: auto;
  width: 200px;
  height: 50px;
  margin-top: 5px;
  font-size: 18px; 
}
.unos{
  font-size: 15px;
  width: 200px;
  height: 20px;
  margin-top: 5px;

}


#button1{
  border-style: solid;
  border-color: green;
  background-color: white;
  width: 210px;
  height: 50px;
  margin-top: 10px;
  font-size: 18px; 
  text-align: center;

}

#button1:hover{
    background-color: green;
}

 
